@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-size: 21px;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: underline;
}

button {
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 6px 24px;
  text-decoration: none;
}

input[type='range'] {
  margin-top: 10px;
}

span.label {
  font-weight: 15px;
  margin-top: 5px; 
}
